/*************************
        General Rule
*************************/ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --header_color: rebeccapurple;
    --main_color: rgb(255, 195, 105);
    --black_color:#000;
    --grey_top:#4a4a4a;
    --grey_footer:#222222;
}
/*************************
        Colors
*************************/ 
.white{
    color: white;
}

.green{
    color: green;
}

/*************************
        Flex
*************************/ 
.flex{
    display: flex;
}

.center{
    justify-content: center;
    align-items: center;
}

/*************************
        HEADER
*************************/ 
.containerHd{
    background-color: var(--black_color);
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: first baseline;
}

.boxHd{
    display: flex;
    align-items: center;
    margin:5px 5px;
}

.textIconTop{
    font-size: 12px;
    background-color: var(--grey_top);
    margin: 0px 5px;
    padding: 0.5em;
    border-radius: 5px;
}

.iconTop{
    background-color: var(--grey_top);
}
/*************************
        MAIN
*************************/ 
.containerMi{
    background-color: var(--black_color);
    width: 100%;
    max-width: 100%;
    height: 80vh;
}

.boxed{
    max-width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 10px;
}

.cardBox{
    width: calc(100% / 8);
    position: relative;
}

.img{
    width: 100%;
}

.userMute{
    font-size: 17px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(211, 211, 211, 0.37);
    padding: 0.1em;
}

/*************************
        FOOTER
*************************/ 
.containerFt{
    background-color: var(--grey_footer);
    width: 100%;
    height: 10vh;
    max-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.recVoice{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard{
    align-items: center;
}

.textIcon{
    padding: 0.5em;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    font-size: 30px;
}

.littleArrow{
    margin: 0 5px;
}

.close{
    background-color: var(--grey_top);
    height: 100%;
    align-items: center;
}

.closeCall{
    color: red;
    justify-content: center;
    align-items: center;
}
